<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shraddha Barke</title>
  <link rel="stylesheet" href="./css/site.css">

</head>

<body>
  <div id="header">
    <div id="home" class="">
      <a href="./">Shraddha Barke</a>
    </div>
    <div id="navigation" class="nav">
      <a href="#papers">Papers</a>
      <a href="#software">Projects</a>
      <a href="#talks">Talks</a>
      <a href="#teaching">Teaching</a>
      <a href="#service">Service</a>
    </div>
  </div>

  <div id="subheader">
    <div id="subheader-photo">
      <img src="./raw/portrait.jpg" id="portrait" />
    </div>

    <div id="subheader-info">
      I am a final year PhD candidate in the <a href="http://cseweb.ucsd.edu/groups/progsys/">Programming Systems</a>
      group at UC San Diego where I work with my advisor <a href="https://cseweb.ucsd.edu/~npolikarpova/">Dr. Nadia Polikarpova</a>.
      My research lies at the intersection of programming languages and artificial intelligence.
      I did internships at Microsoft Research in the <a href="https://www.microsoft.com/en-us/research/group/prose/">
        PROSE</a>, <a href="https://www.microsoft.com/en-us/research/group/research-software-engineering-rise/">RiSE</a>
      and
      <a href="https://www.microsoft.com/en-us/research/project/calc-intelligence/">Calc Intelligence</a> teams where I worked on large language
      models for end-user programming, and also at Google Labs in the <a
        href="https://www.businessinsider.com/google-ai-write-fix-code-developer-assistance-pitchfork-generative-2022-11?IR=T">Pitchfork</a>
      team.
      Before PhD, I got my Masters in Computer Science from UC San Diego and Bachelors in Electronics from
      <a href="https://www.bits-pilani.ac.in/goa/">BITS Pilani</a>, where I worked on fence synthesis for weak
      memory models.
      <br>
      <b>I am on the job market for research focused industry positions and postdocs this year!</b>
      <b>Please reach out if you think I am a good fit.</b>
      </b>
      Check out my detailed CV <a href="./raw/shraddhabarkecv.pdf">here</a>.

      <p class="external-link-header">
        <a class="logo-link" href="mailto:sbarke@ucsd.edu">
          <img src="images/email.svg" title="Email" height="33px"></a>

        <a class="logo-link" href="https://github.com/shraddhabarke">
          <img src="images/Github.png" title="Github" height="33px"></a>

        <a class="logo-link" href="https://twitter.com/shraddha_96" style="text-decoration:none;">
          <img src="images/Twitter.svg" title="Twitter" height="33px"></a>

        <a class="logo-link" href="https://scholar.google.com/citations?user=gK35bhEAAAAJ&hl=en"
          style="text-decoration:none;">
          <img src="images/GoogleScholar.svg" title="Google Scholar" height="33px"></a>

        <a class="logo-link" href="https://www.linkedin.com/in/shraddha-barke-111b4694" style="text-decoration:none;">
          <img src="images/LinkedIn.png" title="LinkedIn" height="33px"></a>

        <a class="logo-link" href="https://dblp.org/pid/228/9106.html" style="text-decoration:none;">
          <img src="images/DBLP.png" title="DBLP" height="33px"></a>

        <a class="logo-link" href="https://orcid.org/0000-0002-8663-5175" style="text-decoration:none;">
          <img src="images/ORCID.svg" title="Orcid" height="33px"></a>

        <a class="logo-link" href="https://www.sigplan.org/LongTermMentoring/" style="text-decoration:none;">
          <img src="images/sigplan-m-logo.png" title="sigplan-m-logo" height="33px"></a>
      </p>
    </div>
  </div>

  <h2>Research Agenda</h2>
  <p style="text-align: justify;">
    My research is at the intersection of software engineering and machine learning and focuses on
    building neurosymbolic AI systems that assist programmers and end users in writing code. To
    that end, I develop develop systems that provide strong generalizability and correctness guarantees,
    require less data and produce interpretable code. Further, my research also investigates how powerful
    AI large language models have changed the landscape of programming through the lens of human
    computer interaction and how we can build more usable tools to better integrate language models in
    the programmer's workflow.
  <br>
  <strong>Research Areas:</strong> Programming Languages, Artificial Intelligence, Human Computer Interaction.
  </p>

  <div id="papers" class="anchor"></div>
  <h2 class="anchored"></span> Publications</h2>
  <em><sup>*</sup>equal contribution. A complete list including preprints and reports is available on my <a
      href="https://scholar.google.com/citations?user=gK35bhEAAAAJ&hl=en">Google Scholar</a>.</em>
  <ul class="pubs">
    <li class="publication">
      <b><a href="./raw/codexdata.pdf"> Solving Data-centric Tasks using Large Language Models</a></b>,
      <b>Shraddha Barke</b>, Christian Poelitz, Carina Suzana Negreanu, Benjamin Zorn, José Cambronero, Andrew D Gordon, Vu Le,
      Elnaz Nouri, Nadia Polikarpova, Advait Sarkar, Brian Slininger, Neil Toronto, Jack Williams.<em>
        <b>NAACL 2024 Findings</b> (North American Chapter of the Association for Computational Linguistics)</em>
      <p><a href="https://arxiv.org/abs/2402.11734">(paper)</a>
      </p>
    </li>

    <li class="publication">
      <b><a href="./raw/copilot.pdf"> Grounded Copilot: How Programmers Interact with Code-Generating Models</a></b>,
      <b>Shraddha
        Barke<sup>*</sup></b>, Michael James<sup>*</sup>, Nadia Polikarpova. <em><b>OOPSLA 2023</b> (Object-oriented
        Programming, Systems, Languages, and Applications)</em> <b>Distinguished Paper Award<span class="emoji"> 🏆</span></b>
      <p><a href="https://dl.acm.org/doi/abs/10.1145/3586030">(paper)</a>
        <a href="https://github.com/shraddhabarke/copilot-study">(code)</a>
        <a href="https://www.youtube.com/watch?v=bQ7Ef-E1_BM">(talk)</a>
      </p>
    </li>
    <li class="publication">

      <b> <a href="./raw/loopy.pdf">LooPy: Interactive Program Synthesis with Control Structures</a></b>, Kasra
      Ferdowsifard, <b>Shraddha
        Barke</b>, Hila Peleg, Sorin Lerner, Nadia Polikarpova.
      <em><b>OOPSLA 2021</b> (Object-oriented Programming, Systems, Languages, and Applications)</em>
      <p><a href="https://dl.acm.org/doi/10.1145/3485530">(paper)</a>
        <a href="https://github.com/KasraF/LooPy">(code)</a>
        <a href="https://www.youtube.com/watch?v=UtciA6lb_Tc">(talk)</a>
        <a href="https://loopy.goto.ucsd.edu/editor">(demo)</a>
      </p>
    </li>
    <li class="publication">

      <b><a href="./raw/probe.pdf">Just-in-Time Learning for Bottom-Up Enumerative Synthesis.</a></b>
      <b>Shraddha Barke</b>, Hila Peleg, and Nadia Polikarpova.
      <em><b>OOPSLA 2020</b> (Object-oriented Programming, Systems, Languages, and Applications)</em>
      <p><a href="https://dl.acm.org/doi/10.1145/3428295">(paper)</a>
        <a href="https://arxiv.org/abs/2010.08663">(extended)</a>
        <a href="https://github.com/shraddhabarke/Probe">(code)</a>
        <a href="https://youtu.be/r6QO4U-Q91g">(talk)</a>
        <a href="./raw/probe_slides.pdf">(slides)</a>
      </p>
    </li>
    <li class="publication">

      <b><a href="./raw/bluepencil.pdf">Feedback-Driven Semi-Supervised Synthesis of Program Transformations.</a></b>
      Xiang Gao, <b>Shraddha Barke</b>, Arjun Radhakrishna, Gustavo Soares, Sumit Gulwani, Alan Leung, Nachiappan
      Nagappan, and Ashish Tiwari.
      <em><b>OOPSLA 2020</b> (Object-oriented Programming, Systems, Languages, and Applications)</em>
      <p><a href="https://dl.acm.org/doi/10.1145/3428287">(paper)</a>
        <a href="https://www.youtube.com/watch?v=1_5orUnCQxU">(talk)</a>
        <a href="./raw/bluepencil_slides.pdf">(slides)</a>
        <a href="https://www.youtube.com/watch?v=jrLaDB1VZqM">(demo)</a>
        <a href="https://docs.microsoft.com/en-us/visualstudio/intellicode/intellicode-suggestions">(blog)</a>
      </p>
    </li>
    <li class="publication">

      <b><a href="./raw/syphon.pdf">Constraint-based Learning of Phonological Processes.</a></b>
      <b>Shraddha Barke</b>, Rose Kunkel, Nadia Polikarpova, Eric Meinhardt, Eric Baković, and Leon Bergen.
      <em><b>EMNLP 2019</b> (Empirical Methods in Natural Language Processing)</em>
      <p><a href="https://aclanthology.org/D19-1639/">(paper)</a>
        <a href="https://github.com/shraddhabarke/SyPhon">(code)</a>
        <a href="https://vimeo.com/404777930">(talk)</a>
        <a href="./raw/syphon_slides.pdf">(slides)</a>
      </p>
    </li>
  </ul>
  </section>

  <div id="software" class="anchor"></div>
  <h2 class="anchored">Software</h2>
  <ul class="mylst">
    <li>
      <b>Grounded Copilot</b> (<a href="https://github.com/shraddhabarke/copilot-study">GitHub</a>)
      <br>
      Replication package for the grounded theory analysis of how programmers interact with Copilot (Rust, Python).
    </li>
    <li>
      <b>LooPy</b> (<a href="https://github.com/KasraF/LooPy">GitHub</a>)
      <br>
      Interactive program synthesizer that supports control structures and live execution, integrated in an IDE (Scala).
    </li>
    <li>
      <b>Probe</b> (<a href="https://github.com/shraddhabarke/Probe">GitHub</a>)
      <br>
      Probability-guided synthesizer that outperforms unguided search by learning from partial solutions on-the-fly
      (Scala).
    </li>
    <li>
      <b>SyPhon</b> (<a href="https://github.com/shraddhabarke/SyPhon">GitHub</a>)
      <br>
      Constraint-based program synthesis system for learning phonological rules of human languages (Python).
    </li>
  </ul>

  <div id="talks" class="anchor"></div>
  <h2 class="anchored">Talks </h2>
  <ul class="mylst">
    <li>
      <em>How Large Language Models Revolutionized Program Synthesis</em>,
      University of Utah, 2023.
    </li>
    <li>
      <em>Grounded Copilot: How Programmers Interact with Code-Generating Models</em>,
      MSR Redmond, 2022.
    </li>
    <li>
      <em>Constraint-based Learning of Phonological Processes</em>,
      UCSD Research Open House, 2022.
    </li>
    <li>
      <em>Just-in-Time Learning for Bottom-Up Enumerative Synthesis</em>,
      PLDI 2022, San Diego.
    </li>
    <li>
      <em>Just-in-Time Learning for Bottom-Up Enumerative Synthesis</em>,
      OOPSLA 2020, Remote.
    </li>
    <li>
      <em>Constraint-based Learning of Phonological Processes</em>,
      EMNLP 2019, Hong Kong.
    </li>
    <li>
      <em>Fence Synthesis for Weak Memory Models</em>,
      IISc Summer School 2016, Bangalore.
    </li>
    <li>
      <em>Diving into Open Source with Linux Kernel</em>,
      Grace Hopper 2016, Bangalore.
    </li>
  </ul>

  <div id="teaching" class="anchor"></div>
  <h2 class="anchored">Teaching</h2>
  <ul class="mylst">
    <li>
      <b><a href="https://nadia-polikarpova.github.io/cse130-web/">CSE 130 Programming Languages</a></b>,
      Teaching Assistant, Spring 2024.
    </li>
    <li>
      <b><a href="https://student.apps.utah.edu/uofu/stu/ClassSchedules/main/1238/description.html?subj=CS&catno=6353&section=001">CS 6353 Deep Learning, University of Utah</a></b>,
      Guest Lecturer, Fall 2023
    </li>
    <li>
      <b><a href="https://nadia-polikarpova.github.io/cse130-web/">CSE 130 Programming Languages</a></b>,
      Teaching Assistant, Spring 2023.
    </li>
    <li>
      <b> <a href="https://github.com/nadia-polikarpova/cse291-program-synthesis/wiki/">CSE 291 Program
          Synthesis</a></b>, Guest Lecturer, Winter 2023
    </li>
    <li>
      <b> <a href="https://nadia-polikarpova.github.io/cse130-web/">CSE 130 Programming Languages</a></b>,
      Teaching Assistant, Spring 2022
    </li>
    <li>
      <b> <a href="https://nadia-polikarpova.github.io/cse130-web/">CSE 130 Programming Languages</a></b>,
      Teaching Assistant, Fall 2020
    </li>
    <li>
      <b> <a href="https://nadia-polikarpova.github.io/cse130-web/">CSE 130 Programming Languages</a></b>,
      Teaching Assistant, Fall 2019
    </li>
  </ul>

  <div id="service" class="anchor"></div>
  <h2 class="anchored">Academic Service </h2>
  <ul class="mylst">
    <li>
      <b>POPL 2024, POPL 2023</b>, Student Volunteer Co-Chair
    </li>
    <li>
      <b>PLATEAU 2024</b>, Student Organizer and Reviewer
    </li>
    <li>
      <b>ACL 2023, 2022</b>, ARR Program Committee
    </li>
    <li>
      <b>ICFP 2023, OOPSLA 2021, CAV 2021</b>, Artifact Evaluation Committee
    </li>
    <li>
      <b>ICLR 2023</b>, Deep Learning for Code Program Committee
    </li>
    <li>
      <b>SIGPLAN-M 2022-2024</b>, Mentoring Operations Committee
    </li>
    <li>
      <b>PLDI 2022, PLDI 2019, ASE 2019</b>, Student Volunteer
    </li>
  </ul>

  <div id="outreach" class="anchor"></div>
  <h2 class="anchored">Outreach </h2>
  <ul class="mylst">
    <li>
      2022, Faculty Hiring Student Representative, UC San Diego
    </li>
    <li>
      2018-2020, CSE Diversity, Equity, and Inclusion Committee, UC San Diego
    </li>
    <li>
      2019-2020, Graduate Women in Computing Coordinator, UC San Diego
    </li>
    <li>
      2019, PhD Admissions Student Committee, UC San Diego
    </li>
    <li>
      2017-2019, Outreachy Linux Kernel Coordinator
    </li>
  </ul>

  <div id="footer">
    Webpage Last Updated: March 2024
  </div>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>